[default]
forks = 30
gathering = explicit
collections_paths = /root/mathew/mycollection:/root/.ansible/collections:/usr/share/ansible/collections


[galaxy]
server_list = my_hub

[galaxy_server.my_hub]
url = https://ansibleclient.example.com/api/galaxy/
token = fc5eca994392bd8baa14cf14a8b95416a267fc81
